html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #242424;
    overflow-x: hidden;
}

.logo {
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
}

.headDiv {
    z-index: 10;
    height: 40px;
    width: 100%;
    position: absolute;
}

.previewDiv {
    position: absolute;
    left: 5%;
    top: 20%;
    height: 60%;
    width: 60%;
}

.aboutDiv {
    z-index: 5;
    position: absolute;
    top: 120%;
    height: 100%;
    width: 100%;
    background-color: #1c1c1d;
}

.preAboutDiv {
    z-index: 5;
    position: absolute;
    top: 100%;
    height: 20%;
    width: 100%;
    background: linear-gradient(to top, #1c1c1d, #23232300);
}

.aboutSegment {
    position: absolute;
    height: 50%;
    width: 70%;
    left: 15%;
}

.aboutSegmentTitle {
    position: absolute;
    text-align: left;
    top: 240px;
    left: 200px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 30px;
    font-family: Button;
    font-weight: 1000;
    text-align: left;
    overflow: hidden;
}

.aboutSegmentText {
    position: absolute;
    text-align: left;
    top: 330px;
    left: 350px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
    font-family: Button;
    font-weight: 300;
    text-align: left;
    overflow: hidden;
}

.aboutSegmentImg {
    position: absolute;
    right: -10%;
    top: 0%;
    width: 50%;
    filter: grayscale(50%);
    -webkit-transition: filter 0.2s;
    -moz-transition: filter 0.2s;
    -o-transition: filter 0.2s;
    transition: filter 0.2s;
}

.aboutSegmentImg:hover {
    position: absolute;
    right: -10%;
    top: 0%;
    width: 50%;
    filter: grayscale(0%);
}

.footerDiv {
    position: absolute;
    bottom: -120%;
    height: 15%;
    width: 100%;
    z-index: 11;
    background-color: #141414;
}

.footerTitle {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 30px;
    font-family: Button;
    font-weight: 1000;
    text-align: left;
}

.footerDivider {
    position: absolute;
    top: 50%;
    left: 30.5%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
    font-family: Button;
    font-weight: 1000;
    text-align: left;
}

.footerText {
    position: absolute;
    top: 51%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 17px;
    font-family: Desc;
    font-weight: 300;
    text-align: left;
}

@keyframes float{
    0%{
        transform: translate(0, 10px);
    }
    50%{
        transform: translate(0, 0px);
    }
    100%{
        transform: translate(0, 10px);
    }
}

.previewImg {
    margin: 0;
    position: absolute;
    top: -10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    animation: float 20s infinite;
}

.previewImgFlower {
    margin: 0;
    position: absolute;
    top: -10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    animation: float 25s infinite;
}

.previewImgText {
    margin: 0;
    position: absolute;
    top: -10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    animation: float 27s infinite;
}

.themeCards {
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 25%;
    left: 17%;
    flex-wrap: wrap;
}

@keyframes card-float {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

.themeCard {
    width: 26%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 30px;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

.themeCard:hover {
    width: 26%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.081);
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 30px;
    transform: scale(1.05);
}

.previewCardBackground {
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.previewCardPreview {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    animation-delay: 200ms;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2;
    transition: transform 0.2s;
}

.previewCardPreview:hover {
    transform: scale(1.5);
}

.previewCardDetail {
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    animation: card-float 15s ease-in-out infinite;
}

.noUnderlineText {
    color: #373738;
    text-decoration: none;
    z-index: 1;
}

.docButton {
    position: absolute;
    font-family: Button;
    font-size: 15px;
    right: 2%;
    top: 65%;
    align-content: center;
    color: #262627;
    background: #1a1a1b;
    border-radius: 10px;
    border-width: 5px;
    border-color: #1a1a1b;
    border-style: solid;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2;
    transition: transform 0.2s;
}

.docButton:hover {
    transform: scale(1.05);
}

@keyframes slide-up {
    0% {
        transform: translate(0, 1000%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slide-down {
    100% {
        transform: translate(0, 1000%);
    }
    0% {
        transform: translate(0, 0);
    }
}

.moreButton {
    position: fixed;
    font-family: Button;
    font-size: 15px;
    right: 47.5%;
    left: 47.5%;
    min-width: 95px;
    min-height: 35px;
    max-width: 95px;
    max-height: 35px;
    top: 93%;
    align-content: center;
    color: #373738;
    background: #202020;
    border-radius: 10px;
    border-width: 5px;
    border-color: #202020;
    border-style: solid;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2;
    transition: transform 0.2s;
    animation: slide-up 1s ease;
}

.moreButton:hover {
    transform: scale(1.05);
}

div {
    user-select: none;
}

.githubButton {
    color: #232324;
    background: #2c2c2c;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
    width: 40px;
    height: 40px;
	border: none;
    padding: 0;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
}

.githubButton:hover {
    background: #373737;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(0, -5%);
}

.githubButton:active {
    background: #3f3f3f;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(95%);
}

.infoDiv {
    position: absolute;
    right: 15%;
    top: 40%;
    width: 20%;
    text-align: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}

Img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    width: 100%;
}

.bgImg {
    user-select: none;
    position: absolute;
    opacity: 84%;
    z-index: -3;
}

.desc {
    color: white;
    font-family: Desc;
    font-weight: 550;
    font-size: 21px;
    text-align: left;
    left: 20%;
    margin-left: 4%;
}

.mirrorButton {
    color: #232324;
    background: linear-gradient(to right, rgb(255, 186, 253), #a7fff6, rgb(255, 231, 180),rgb(255, 186, 253));
    background-size: 400% 100%;
    animation: Gradient 4s ease infinite;
    border-radius: 10px;
    position: relative;
    width: 120px;
    height: 40px;
    color: inherit;
	border: 20px;
    mix-blend-mode: overlay;
	padding: 0;
    font-family: Button;
    font-weight: 1000;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
}

.mirrorButton::after {
    content: '';
    position: absolute;
    background-size: inherit;
    background-image: inherit;
    animation: inherit;
    left: 0px;
    right: 0px;
    top: 2px;
    height: 100%;
    filter: blur(2rem);
}

@keyframes Gradient {
	50% {
		background-position: 140% 50%;
	}
}

.mirrorButton:hover {
    transform: translate(0, -5%);
}

.mirrorButton:active {
    transform: scale(95%);
}

@font-face {
    font-family: Button;
    src: url(fonts/Kanit-Regular.ttf);
}

@font-face {
    font-family: Desc;
    src: url(fonts/Amiko-Regular.ttf);
}