body {
    margin: 0;
    background-color: #232323;
    overflow-y: hidden;
}

.headDiv {
    height: 40px;
    background-color: rgba(26, 26, 27, 0.84);
}

.logo {
    width: 40px;
    margin-left: 5px;
    margin-top: 5px;
}

.previewDiv {
    position: fixed;
    left: 5%;
    top: 20%;
    height: 60%;
    width: 60%;
}

.previewImg {
    width: 75%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.noUnderlineText {
    color: white;
    text-decoration: none;
}

.docButton {
    font-family: iosevka-light;
    font-size: 15px;
    position: fixed;
    right: 0.6%;
    margin-top: 0.6%;
    align-content: center;
    color: white;
	border: none;
    background: none;
}

div {
    user-select: none;
}

.githubButton {
    color: #232324;
    background: #2c2c2c;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
    width: 40px;
    height: 40px;
	border: none;
    padding: 0;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
}

.githubButton:hover {
    background: #373737;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
}

.githubButton:active {
    background: #3f3f3f;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(95%);
}

.infoDiv {
    position: fixed;
    right: 15%;
    top: 30%;
    width: 20%;
    text-align: center;
    align-items: center;
    align-content: center;
}

Img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    width: 100%;
}

.bgImg {
    user-select: none;
    position: fixed;
    opacity: 84%;
}

.title {
    position: relative;
}

.titleText {
    font-family: iosevka-extendedlight;
    font-size: 65px;
    position: relative;
    margin: 0;
}

.titleText:nth-child(1) {
    color: rgb(255, 255, 255);
}

@keyframes glitch{
    2%,64%{
        transform: translate(1px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-1px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg); 
    }
}
  
.titleText:before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color:#ffffff4a;
    z-index: -1;
}
.titleText:after{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color:rgba(255, 255, 255, 0.398);
    z-index: -1;
}
  
.titleText:before{
    animation: glitchTop 0.5s linear infinite;
    animation-delay: 4s;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
}
  
@keyframes glitchTop{
    2%,64%{
        transform: translate(0px,0px);
    }
    4%,60%{
        transform: translate(-2px,1px);
    }
    62%{
        transform: translate(-1px,-1px) skew(-5deg); 
    }
    80%{
        transform: translate(4px,0px);
    }
}
  
.titleText:after{
    animation: glitchBotom 1s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
  
@keyframes glitchBotom{
    2%,64%{
        transform: translate(0px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(1px,1px) skew(3deg); 
    }
    82%{
        transform: translate(-2px,-3px) skew(-1deg); 
    }
}

.titleText:nth-child(2) {
    font-family: iosevka-extendedbold;
    position: relative;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 0.1px rgb(255, 255, 255); /* width and color */
    transform: translateY(10px);
    margin-top: -80px;
    animation: glitch 4s linear infinite;
}

.desc {
    color: white;
    font-family: iosevka-light;
    font-weight: 550;
    font-size: 21px;
    text-align: left;
    left: 20%;
    margin-left: 5%;
}

.mirrorButton {
    color: #232324;
    background: linear-gradient(to right, rgb(255, 186, 253), #a7fff6, rgb(255, 231, 180),rgb(255, 186, 253));
    background-size: 400% 100%;
    animation: Gradient 4s ease infinite;
    border-radius: 10px;
    position: relative;
    width: 120px;
    height: 40px;
    color: inherit;
	border: 20px;
    mix-blend-mode: overlay;
	padding: 0;
    font-family: iosevka-regular;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
}

.mirrorButton::after {
    content: '';
    position: absolute;
    background-size: inherit;
    background-image: inherit;
    animation: inherit;
    left: 0px;
    right: 0px;
    top: 2px;
    height: 100%;
    filter: blur(2rem);
}

@keyframes Gradient {
	50% {
		background-position: 140% 50%;
	}
}

.mirrorButton:active {
    transform: scale(95%);
}

@font-face {
    font-family: iosevka-regular;
    src: url(fonts/iosevka-regular.ttf);
}

@font-face {
    font-family: iosevka-extended;
    src: url(fonts/iosevka-extended.ttf);
}

@font-face {
    font-family: iosevka-extendedlight;
    src: url(fonts/iosevka-extendedlight.ttf);
}


@font-face {
    font-family: iosevka-extendedbold;
    src: url(fonts/iosevka-extendedbold.ttf);
}

@font-face {
    font-family: iosevka-light;
    src: url(fonts/iosevka-light.ttf);
}