body {
    margin: 0;
    background-color: #232323;
    overflow-y: hidden;
}

.logo {
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 1;
    position: fixed;
}

.headDiv {
    height: 40px;
    background-color: rgba(26, 26, 27, 0.84);
}

.previewDiv {
    position: fixed;
    left: 5%;
    top: 20%;
    height: 60%;
    width: 60%;
}

@keyframes float{
    0%{
        transform: translate(0, 10px);
    }
    50%{
        transform: translate(0, 0px);
    }
    100%{
        transform: translate(0, 10px);
    }
}

.previewImg {
    margin: 0;
    position: absolute;
    top: -10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    animation: float 20s infinite;
}

.previewImgFlower {
    margin: 0;
    position: absolute;
    top: -10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    animation: float 25s infinite;
}

.previewImgText {
    margin: 0;
    position: absolute;
    top: -10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    animation: float 27s infinite;
}

.themeCards {
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 25%;
    left: 17%;
    flex-wrap: wrap;
}

@keyframes card-float {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -10px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

.themeCard {
    width: 26%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 30px;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

.themeCard:hover {
    width: 26%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.081);
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 30px;
    transform: scale(1.05);
    animation: Gradient 4s ease infinite;
}

.previewCardBackground {
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.previewCardPreview {
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    animation: card-float 60s ease-in-out infinite;
    animation-delay: 200ms;
}

.previewCardDetail {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    animation: card-float 15s ease-in-out infinite;
}

.noUnderlineText {
    color: #373738;
    text-decoration: none;
    z-index: 1;
}

.docButton {
    font-family: iosevka-light;
    font-size: 15px;
    position: fixed;
    right: 0.6%;
    margin-top: 0.6%;
    align-content: center;
    color: #262627;
	border: none;
    background: none;
}

div {
    user-select: none;
}

.githubButton {
    color: #232324;
    background: #2c2c2c;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
    width: 40px;
    height: 40px;
	border: none;
    padding: 0;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
}

.githubButton:hover {
    background: #373737;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(0, -5%);
}

.githubButton:active {
    background: #3f3f3f;
    background-image: url("images/source.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(95%);
}

.infoDiv {
    position: fixed;
    right: 15%;
    top: 40%;
    width: 20%;
    text-align: center;
    align-items: center;
    align-content: center;
}

Img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    width: 100%;
}

.bgImg {
    user-select: none;
    position: fixed;
    opacity: 84%;
}

.desc {
    color: white;
    font-family: Desc;
    font-weight: 550;
    font-size: 21px;
    text-align: left;
    left: 20%;
    margin-left: 4%;
}

.mirrorButton {
    color: #232324;
    background: linear-gradient(to right, rgb(255, 186, 253), #a7fff6, rgb(255, 231, 180),rgb(255, 186, 253));
    background-size: 400% 100%;
    animation: Gradient 4s ease infinite;
    border-radius: 10px;
    position: relative;
    width: 120px;
    height: 40px;
    color: inherit;
	border: 20px;
    mix-blend-mode: overlay;
	padding: 0;
    font-family: Button;
    font-weight: 1000;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
}

.mirrorButton::after {
    content: '';
    position: absolute;
    background-size: inherit;
    background-image: inherit;
    animation: inherit;
    left: 0px;
    right: 0px;
    top: 2px;
    height: 100%;
    filter: blur(2rem);
}

@keyframes Gradient {
	50% {
		background-position: 140% 50%;
	}
}

.mirrorButton:hover {
    transform: translate(0, -5%);
}

.mirrorButton:active {
    transform: scale(95%);
}

@font-face {
    font-family: Button;
    src: url(fonts/Kanit-Regular.ttf);
}

@font-face {
    font-family: Desc;
    src: url(fonts/Amiko-Regular.ttf);
}